

@tailwind base;
@tailwind components;
@tailwind utilities;


/* small helper styles */
html, body, #root { height: 100%; }
body { @apply font-mono bg-bgcolor text-txtcolor antialiased; }
.container { @apply max-w-4xl mx-auto px-6; }
h1 {@apply font-custom text-5xl font-semibold}
h2 {@apply font-custom text-2xl text-center font-semibold}
.navlink {@apply transition-all duration-300 ease-in-out}

@font-face {
    font-family: 'PressStart2P';
    src: url('/src/assets/fonts/PressStart2P-Regular.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}


